.wrapper1 {
  width: 80%;
  display: flex;
  /* justify-content - հատկությունը սահմանում է, թե ինչպես է բրաուզերը տարածությունը բաշխում բովանդակության տարրերի միջև, center-ը տեղափոխում է կենտրոն*/
  justify-content: center;
}

.wrapper-content1 {
  display: flex;
  /* եթե ունենք օրինակ 4 հատ քառակուսի,space-between-ը էկրանի լայնքը բաժանում է հավասար մասերի և միմյանցից հավասար հեռավորության վրա տեղադրում է այդ 4 քառակուսիները ամբողջ էկրանի լայնքով */
  justify-content: space-between;
  width: 1060px;
}

.form1 {
  display: flex;
  /* եթե ունենք օրինակ 4 հատ քառակուսի,flex-direction: column-ը ձախ վերևից սյունյակաձև տեղադրում է այդ քառակուսիները: */
  flex-direction: column;
}

.input1 {
  padding: 6%;
  width: 95%;
  margin: 1.5%;
  text-align: center;
  margin-left: 85%;
  font-size: 20px;
  border-radius: 30px;
  box-shadow: inset 0px 0px 25px 0px rgb(98, 132, 166);
  border: none;
  outline: none;
}

.buttons-wrapper1 {
  display: flex;
  justify-content: space-between;
  width: 130%;
  margin: 2% 3%;
  margin-left: 60%;
}

.butt1 {
  width: 38%;
  background-color: #00FF42;
  color: black;
  margin-left: 20%;
  padding: 3%;
  border-radius: 60px;
  font-size: 22px;
  border: none;
  outline: none;
}

.butt1:hover {
  background: #0033FF;
  color: white;
  box-shadow: none;
}

.butt2 {
  width: 38%;
  background-color: #00FF42;
  color: black;
  padding: 3%;
  border-radius: 60px;
  font-size: 22px;
  border: none;
  outline: none;
}

.butt2:hover {
  background: #0033FF;
  color: white;
  box-shadow: none;
}

.table1 {
  width: 110%;
  /* border-collapse: collapse-ը սահմանում է որ աղյուսակի բոլոր գծային սահմանները լինեն ընդհանուր, իսկ border-collapse: separate-ի դեպքում յուրաքանչյուր ուղանկյուն առանձնանում է որոշակի տարածությամբ մյուս ուղանկյուններից */
  border-collapse: collapse;
  border: 4px ridge #FFFF00;
  margin-top: 0.6%;
  font-size: 18px;
  margin-left: 10%;
}

.th1 {
  border: 2px solid #FFFF00;
  text-align: center;
  padding: 10px 20px;
  background-color: #FF5BAD;
  font-size: 19px;
}

/* :first-child այս կոնցեպտը նրա համար է որպեսզի որոշակի առանձնահատկություն տա ծնողի առաջին երեխային(child),
տվյալ դեպքում որոշակի յուրահատուկ պարամետրեր է տրվում th-ի առաջին երեխային */
.th1:first-child {
  min-width: 10px;
}

.edit-action1 {
  width: 35%;
  margin: 4%;
  background-color: #00FF42;
  color: black;
  font-size: 17px;
  padding: 4%;
  border-radius: 45%;
  border: none;
}

.edit-action1:hover {
  background: #0033FF;
  color: white;
  box-shadow: none;
}

.remove-action1 {
  width: 51%;
  background-color: #00FF42;
  color: black;
  font-size: 17px;
  padding: 4%;
  border-radius: 45%;
  border: none;
  text-align: justify;
}

.remove-action1:hover {
  background: #0033FF;
  color: white;
  box-shadow: none;
}

.td1 {
  border: 2px ridge #FFFF00;
  text-align: center;
  margin: 200px 20px;

}

.home {
  width: 51%;
  margin-left: 111%;
  background: yellow;
  color: black;
  padding: 4%;
  border-radius: 60px;
  font-size: 22px;
  border: none;
  outline: none;
}

.home:hover {
  background: #0033FF;
  color: white;
  box-shadow: none;
}

@media screen and (max-width: 1350px) {
  .wrapper1 {
    width: 80%;
  }

  .wrapper-content1 {
    width: 750px;
  }

  .input1 {
    padding: 3%;
    width: 80%;
    margin: 1.5%;
    margin-left: 97%;
    font-size: 15px;
  }

  .buttons-wrapper1 {
    width: 130%;
    margin: 2% 3%;
    margin-left: 60%;
  }

  .butt1 {
    width: 30%;
    margin-left: 29%;
    font-size: 15px;
  }

  .butt2 {
    width: 30%;
    margin-right: 6%;
    font-size: 15px;

  }

  .table1 {
    width: 110%;
    margin-top: 0.6%;
    font-size: 18px;
    margin-left: 10%;
  }

  .th1 {
    text-align: center;
    padding: 5px 5px;
    font-size: 15px;
  }


  .th1:first-child {
    min-width: 15px;
  }

  .edit-action1 {
    width: 32%;
    margin: 4%;
    font-size: 10px;
    padding: 5%;

  }

  .remove-action1 {
    width: 60%;
    font-size: 10px;
    padding: 5%;
    border-radius: 35%;
  }

  .td1 {
    text-align: center;
    font-size: 15px;

  }

  .home {
    width: 35%;
    margin-left: 121%;
    font-size: 15px;
  }
}

@media screen and (max-width: 950px) {
  .wrapper-content1 {
    width: 500px;
  }

  .input1 {
    padding: 2%;
    width: 60%;
    margin: 1.5%;
    margin-left: 97%;
    font-size: 12px;
  }

  .buttons-wrapper1 {
    margin: 1% 2%;
    margin-left: 60%;
  }

  .butt1 {
    width: 24%;
    margin-left: 29%;
    font-size: 8px;
  }

  .butt2 {
    width: 22%;
    margin-right: 22%;
    font-size: 8px;
  }

  .table1 {
    width: 100%;
    margin-top: 0.6%;
    font-size: 10px;
    margin-left: 7%;
  }

  .th1 {
    padding: 5px 5px;
    font-size: 12px;
  }


  .th1:first-child {
    min-width: 12px;
  }

  .edit-action1 {
    margin: 4%;
    font-size: 7px;
    padding: 5%;
  }

  .remove-action1 {
    font-size: 7px;
    padding: 5%;
  }

  .td1 {
    text-align: center;
    font-size: 13px;
  }

  .home {
    margin-left: 113%;
    font-size: 8px;
  }
}