.body{
	width:100%;
	height: 635px;
	/* background: url(./image/njdeh2.jpg); */
	background-repeat: no-repeat;
	background-size: cover;
	/* opacity: 0.8; */
  }
.profile {
    height: 100px;
    width: 100px;
	border-radius: 130px;
	
  } 
.wrapper{
	width: 100%;
	display: flex;
	justify-content: center;
}
.wrapper-content {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.forma{
	display: flex;
	flex-direction: column;
}
/* span{
	font-size: 30px;
	text-align: center;
} */
.input_name {
	padding: 10px;
	margin: 5px 0;
	text-align: left;
	background-color: rgba(203, 163, 240, 0.8);
	color: black;
	font-size: 30px;
	border-radius: 20px;
}

.buttons-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 10px 0;
}
.button_input {
	width: 180px;
	height: 50px;
	background: rgba(39, 6, 232, 0.871);
	margin:0 5px;
	border-radius: 15px;
	border: 1px solid black;
	color:black;
	font-size: 15px;
}

.table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid white;
	color: white;
}
.th {
	min-width: 140px;
	border: 2px solid black;
	text-align: center;
	padding: 5px;
	background-color: rgba(39, 6, 232, 0.871);
	color: white;
	font-size: 20px;
}
.tht{
	min-width: 140px;
	border: 2px solid black;
	text-align: center;
	padding: 5px;
	background-color: rgba(39, 6, 232, 0.871);
	color: black;
	font-size: 20px;
}
.th:first-child {
   min-width: 20px;
}
.tha {
	min-width: 10px;
	border: 2px solid black;
	text-align: center;
	background-color: rgba(103, 71, 230, 0.8);
	color: white;
	font-size: 20px;
 }

.td {
	border: 2px solid rgba(39, 6, 232, 0.871);
	padding: 5px;
	color:rgb(59, 18, 245);
	font-weight: 900;
}
.tdt {
	border: 2px solid rgba(39, 6, 232, 0.871);
	padding: 5px;
	color: black;
	font-weight: 900;
}
.td-btn {
	width: 260px;
}
.edit-action {
  background-color: rgba(39, 6, 232, 0.871);
  color: white;
  font-size: 18px;
  width: 90px;
  height: 30px;
  margin: 5px 10px;
}
.edit-action:hover{
	background-color:rgb(225, 209, 209);
	color: rgb(59, 18, 245);
  }
.remove-action {
background-color: rgb(59, 18, 245);
  color: white;
  font-size: 18px;
  width: 100px;
  height: 30px;
  margin: 5px 10px;
}
.remove-action:hover{
	background-color: rgb(225, 209, 209);
	color: rgb(59, 18, 245);
  }


